html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif !important;
}
.header {
    margin-top: 7px;
    margin-left: 32px;
    justify-content: space-between;
    display: flex !important;
    max-height: 100px;
    width: auto;
}

button {
    cursor: pointer;
}

/* begin navigation */
nav {
   /* margin-left: 250px;*/
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 17px !important;
}
ul > li {
    display: inline-block;
    padding: 20px;
    font-size: 18px;

}
a:link {
    text-decoration: none !important;
    color: #393D3F !important;
}
a:visited {
    text-decoration: none !important;
    color: #393D3F !important;
}
a:hover {
    color: #a67247 !important;
}
a:active {
    text-decoration: none !important;
    color: #a67247 !important;
}

.logout-btn {
  margin-left: auto;
}

/* end navigation */


.title-header {
    background-color: #cbab3c;
    width: 100%;
    height: 80px;
    line-height: 75px;
    padding-left: 160px;
    font-size: 25px;
    color: #ffffff;
}
.page-title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.btn-warning {
    color: #f8f9fa;
    background-color: #cbab3c;
    border-color: #e1ba10fa;
}

.cloudinary-button {
    background-color: #f8f9fa;
    color: #cbab3c;
    border-color: #f8f9fa;
}

.layout-container {
    margin: 30px;
    font-size: 19px;

}

.dash-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.task-table-container {
    border: 1px solid #ccc; /* add a thin line */
    padding: 10px; /* add some padding */
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 73%;
}

.notes-table-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
    /*height: 300px; *//**//* set a fixed height */
/*overflow-y: scroll; */
/* add scroll bar if content overflows */

}

.note-container {
    overflow-y: scroll;
    height: 79px;
    width: 252px;
}

.notes-styling {
    font-size: 16px;
}

.sidebar-title {
    margin-bottom: 0px;
    font-size: 17px;

}


.quick-links {
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
}

table {
    margin: 20px;
}
.hidden {
display: none;
}


.bottom-up {
    display: flex;
/*
    justify-content: space-around;
*/
    align-items: stretch
}

.dash-name {
    margin-top: -36px;
}

.delete-button {
    color: #4b4e4f;
    background-color: #f4e6a7;
    border-color: #cbab3c;
}

.submit-note {
    color: #4b4e4f;
    background-color: #f4e6a7;
    border-color: #cbab3c;
}