<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../animal-profile.css" type="text/css">
<!--
    <link rel="stylesheet" href="animal/animals.css" type="text/css">
-->

    <title>Animal Profile</title>
</head>
<body>
    <div class="header">
        <img src="">
        <nav>
            <ul>
                <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
                <li><a href="../animal/animals.html">Animals</a></li>
                <li><a href="../staff/all-staff.html">Staff</a></li>
                <li><a href="../task/tasks.html">Tasks</a></li>
                <li><a class="logout-btn" style="padding-left: 173px" href="../login.html" onclick="handleLogout()
                                ">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="title-header">
        <span class="page-title" th:text="${animal.name}"></span>
    </div>

    <main>
        <h1 th:text="${animal.name}"></h1>


        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img th:attr="src=${animal.picture}" class="img-fluid" alt="Animal Profile Picture">
                </div>
                <div class="col-sm-8">
                    <div class="div1">
                        <p>Name:</p>
                        <p th:text="${animal.name}"></p>
                    </div>
                    <div class="div2">
                        <p>Specie:</p>
                        <p th:text="${animal.species}"></p>
                    </div>
                    <div class="div3">
                        <p>Gender:</p>
                        <p th:text="${animal.gender}"></p>
                    </div>
                    <div class="div4">
                        <p>Date of Birth:</p>
                        <p th:text="${animal.dob}"></p>
                    </div>
                </div>
            </div>
        </div>






        <table>
            <tr>
                <th>Intake Date</th>
                <th>Intake Method</th>
                <th>Breed</th>
                <th>Food</th>
                <th>Food Amount</th>
                <th>Availability</th>
            </tr>
            <tr>
                <td th:text="${animal.intakeDate}"></td>
                <td th:text="${animal.intakeMethod}"></td>
                <td th:text="${animal.breed}"></td>
                <td th:text="${animal.food}"></td>
                <td th:text="${animal.food_amount}"></td>
                <td th:text="${animal.availability}"></td>
            </tr>
        </table>
    </main>

</body>
</html>