<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css" type="text/css">
<!--
    <link rel="stylesheet" href="/dashboard.css" type="text/css">
-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <title>System Management - Dashboard</title>
</head>

<body>
<div class="header">
    <img src="../images/flower.png" style="height: 90px;">

    <nav>
        <ul>
            <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
            <li><a href="../animal/animals.html">Animals</a></li>
            <li><a href="../staff/all-staff.html">Staff</a></li>
            <li><a href="../task/tasks.html">Tasks</a></li>
            <li><a class="logout-btn" style="padding-left: 173px" href="../login.html" onclick="handleLogout()">Logout</a></li>
        </ul>
    </nav>
</div>

<div class="title-header">
    <span class="page-title">Dashboard</span>
</div>

<div class="content">
    <div class="layout-container">
        <main>
            <!-- Upcoming appointments -->
            <div class="upcoming-tasks">

            </div>


                <div th:if="${staff == null}">
                    <a href="/login">Login First</a>
                </div>

                <div th:if="${staff != null}" class="dash-name">
                    <p th:text="'Hello ' + ${staff.name}" style="font-size: 30px;"></p>
                </div>
                <div class="task-table-container">
                    <table>
                        <p>YOUR TASKS FOR THE WEEK:</p>
                        <tr>
                            <th style="width: 360px">What</th>
                            <th>When</th>
                        </tr>
                        <tr th:each="task : ${tasks}">
                            <td th:text="${task.name}"></td>
                            <td th:text="${task.happenedAt}" style="width: 200px"></td>
                            <td><button class="delete-button" id="delete-${task.id}">Task done!</button></td>

                        </tr>
                    </table>
                </div>

<!--                <div th:if="${staff != null}">-->
<!--                    <p th:text="'TASKS: ' + ${staff.task}"></p>-->
<!--                </div>-->



            <div id="dashboard-tasks-container" class="container-fluid"></div>
        </main>

<!--        <aside>-->
            <div class="quick-links">
                <p>Quick links:</p>
                <p>
                    - <a href="task/add-task.html">Add Task</a><br>
                    - <a href="animal/add-animal.html">Add Animal</a><br>
                    - <a href="animals.html">View Animals</a>
                </p>
            </div><br>

<!--            <p class="sidebar-title">Notes</p>-->
<!--            <div id="note-container" class="notes-styling"></div>-->

            <br><br>

<!--            <p class="sidebar-title">Add note</p>-->
<!--            <form id="note-form">-->
<!--                <div class="form-group">-->
<!--                    <textarea class="form-control" id="note-input" placeholder="Add your note..." rows="5" style="width: 190px"></textarea>-->
<!--                </div>-->

<!--                <div>-->
<!--                    <button id="submit-button" type="submit" class="submit-note">Add Note</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </aside>-->
    </div>
</div>



<!--<script src="/dashboard/dashboard.js" type="application/javascript"></script>-->
<script>
    $(document).ready(function() {
        $('.delete-button').click(function() {
            $(this).closest('tr').hide();
        });
    });
</script>

</body>
</html>