<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <title>System Management - Dashboard</title>
</head>

<body>
<div class="header">
    <img src="../images/flower.png" style="height: 90px;">

    <nav>
        <ul>
            <li><a href="../staff/dashboard?staffId=5">Dashboard</a></li>
            <li><a href="../animal/animals.html">Animals</a></li>
            <li><a href="../staff/all-staff.html">Staff</a></li>
            <li><a href="../task/tasks.html">Tasks</a></li>
            <li><a class="logout-btn" style="padding-left: 173px" href="../login.html" onclick="handleLogout()">Logout</a></li>
        </ul>
    </nav>
</div>

<div class="title-header">
    <span class="page-title">Dashboard</span>
</div>

<div class="content">
    <div class="layout-container">
        <main>
            <div class="hello-header">
                <div th:if="${staff == null}">
                    <a href="/login">Login First</a>
                </div>

                <div th:if="${staff != null}" class="dash-name">
                    <p th:attr="data-name=${staff.id}"></p>
                    <p th:text="'Hello ' + ${staff.name}" style="font-size: 30px;"></p>
                </div>
            </div>


            <div class="bottom-up row">
                <!--        TASKS        -->
                <div class="task-table-container col-md-7">

                    <table style="font-size: 17px;">
                        <div>
                            <p>YOUR TASKS FOR THE WEEK:</p>
                        </div>
                        <div>
                            <tr>
                                <th colspan="2">What</th>

                                <th colspan="0">When</th>
                                <th></th>
                            </tr>
                            <tr th:each="task : ${tasks}">
                                <td th:text="${task.name}"></td>
                                <td>         |         </td>
                                <td th:text="${task.happenedAt}"></td>
                                <td><button class="delete-button" id="delete-${task.id}" style="
    margin-left: 55px;
">Task done!</button></td>
                            </tr>
                        </div>
                    </table>
                </div>


                <!--        NOTES        -->
                <div class="notes-table-container col-md-5">
                    <ul>
                        <li th:each="note : ${notes}">
                            <span th:text="${note.note}"></span>
                        </li>
                    </ul>

                    <div id="note-container" class="notes-styling" style="overflow-y: scroll;"></div>

                    <form id="note-form">
                        <div class="form-group">
                            <textarea class="form-control" id="note-input" placeholder="Write your note." rows="5" style="width: 190px"></textarea>
                        </div>

                        <div>
                            <button id="submit-button" type="submit" class="submit-note">Add Note</button>
                        </div>
                    </form>

                </div>
            </div>


            <div class="down-page" style="display: flex;align-items: center;padding-top: 9px;padding-bottom: 49px;flex-direction: column;background-color: #c0c0891f;">
                <p>Shelter Current Stats</p><br>
                <div class="canvas" style="display: flex; margin-left: -80px;">

                    <div th:each="animal, iterStat : ${animals}" th:id="${'animal-' + iterStat.count}" th:attr="data-animal=${animal}">
                        <!-- Add the animal data as data attributes, which can be accessed in JavaScript -->
                        <p th:attr="data-name=${animal.name}"></p>
                        <p th:attr="data-species=${animal.species}"></p>
                        <p th:attr="data-gender=${animal.gender}"></p>
                        <p th:attr="data-availability=${animal.availability}"></p>
                    </div>

                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                    <div>
                        <canvas id="myChart2"></canvas>
                    </div>
                    <div>
                        <canvas id="myChart3"></canvas>
                    </div>
                </div>
            </div>
            <div class="quick-links">
                <a href="/taskPage/newTask" style="padding: 20px; background-color: #e1ba105e;">Add Task</a>
                <a href="/animal/addAnimal.html" style="padding: 20px; background-color: #e1ba105e;">Add Animal</a>
                <a href="/animal/animals.html" style="padding: 20px; background-color: #e1ba105e;">View Animals</a>

            </div>

        </main>
    </div>
</div>

<script src="/dashboard/dashboard.js" type="application/javascript"></script>
<!--<script src="/dashboard/chart.js" type="application/javascript"></script>-->


<script>
      $(document).ready(function() {
          $('.delete-button').click(function() {
              $(this).closest('tr').hide();
          });
      });

</script>

</script>

</body>
</html>